<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CJYIndex.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>CJYDisplayBooksServlet</servlet-name>
        <servlet-class>club.admin.CJYDisplayBooksServlet</servlet-class>
        <init-param>
            <param-name>relativePathToFile</param-name>
            <param-value>/WEB-INF/books.txt</param-value>
        </init-param> 
    </servlet>

    <servlet-mapping>
        <servlet-name>CJYDisplayBooksServlet</servlet-name>
        <url-pattern>/CJYDisplayBooks</url-pattern>
    </servlet-mapping>
</web-app>
